.section4 {
  padding: 130px 26%;

  @media screen and (max-width: 1000px) {
    padding: 130px 20px;
  }

  p {
    margin-bottom: 50px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
}
